@import url("https://fonts.googleapis.com/css2?family=Economica:wght@700&display=swap");
.App {
  font-family: "Economica", sans-serif;
  width: 100%;
  height: 100%;
}

.container{
  height: 100%;
  width: 100%;
}


.empty-state {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.filled-state{
  margin-top: 2rem;
}

.payment-details-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.payment-card-container {
  align-items: start;
  display: grid;
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, 12rem);
  justify-content: space-between;
}

.empty-state h4{
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.empty-state h6{
  color: #acacac;
  margin-bottom: 1.5rem;
  line-height: 0.5rem;
}

.payee-card {
  cursor: pointer;
  position: relative;
  height: 14rem;
  width: 14rem;
  border-radius: 0.5rem;
  background-color: #ececec;
  margin-right: 0.25rem;
}


.payment-card {
  cursor: pointer;
  position: relative;
  height: 14rem;
  width: 12rem;
  border-radius: 0.5rem;
  background-color: #ececec;
}

.payment-card p, .payee-card p{
  font-size: 0.7rem;
  color: #7d7d7d;
  line-height: 0.4rem;


}

.payment-card h6, .payee-card h6{
  color: black;
  font-size: 0.8rem;
  line-height: 0rem;
  margin-bottom: 1.2rem;
}

.dark-band {
  margin-top: 1rem;
  background-color: #dadada;
  width: 100%;
  height: 4rem;
  color: black;
  padding: 8% 10% 8% 10%;
  border-radius: 0.5rem;

}

.card-info {
  height: 8rem;
  border-radius: 0.5rem;
  padding: 8% 10% 8% 10%;
}

.payee-info{
  margin-top: 1rem;
  height: 100%;
  border-radius: 0.5rem;
  padding: 8% 10% 8% 10%;
}


h5 {
  line-height: 0rem;
}

.payee-card h5{
  line-height: 0rem;
  margin-bottom: 2.2rem;
}



.expiry-cvv {
  display: flex;
  flex-direction: row;
}

.cvv {
  margin-left: 15%;
}

.add-payment-card {
  cursor: pointer;
  position: relative;
  height: 14rem;
  width: 12rem;
  border-radius: 0.5rem;
  background-color: #2caffe;
}

.dark-band-button {
  position: absolute;
  bottom: 20%;
  background-color: #309ddf;
  width: 100%;
  height: 25%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.fab {
  background-color: #353f81;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  right: 10%;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab img {
  height: 50%;
  width: 50%;
}

::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: #aaaaaa;
}
::-moz-placeholder {
  font-size: 0.8rem;
}
:-ms-input-placeholder {
  font-size: 0.8rem;
}
input:-moz-placeholder {
  font-size: 0.8rem;
}

.payment-input-panel {
  width: 85%;
}

.payment-input {
  width: 100%;
  margin-bottom: 3rem;
}

.payment-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.payment-input-container .payment-input {
  width: 45%;
  margin-bottom: 0rem;
}

.payment-input .label {
  font-size: 0.8rem;
  color: #7d7d7d;
}

.payment-input input {
  width: 100%;
  height: 3rem;
  background-color: #eeeeee;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.payment-submit,
.payment-cancel {
  width: 100%;
  margin-bottom: 2rem;
}

.payment-submit p,
.payment-cancel p {
  font-size: 0.8rem;
  color: #7d7d7d;
  visibility: hidden;
}

.go-to-dashboard {
  width: 12rem;
  height: 3rem;
  background-color: #2caffe;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  font-size: 0.8rem;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.submit {
  width: 100%;
  height: 3rem;
  background-color: #2caffe;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  font-size: 0.8rem;
}

.cancel {
  width: 100%;
  height: 3rem;
  background-color: #353f81;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  font-size: 0.8rem;
}

.error-text {
  font-size: 0.7rem;
  margin-top: 0.3rem;
  line-height: 1rem;
  color: black;
  margin-bottom: 0rem;
}

.progress-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.progress-unit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.progress-box {
  background-color: #dddddd;
  width: 0.8rem;
  height: 0.812rem;
  border-radius: 0.2rem;
}

.progress-text {
  font-size: 0.8rem;
  line-height: 1rem;
  color: #7d7d7d;
  margin-bottom: 0rem;
  margin-left: 0.5rem;
}

.progress-complete .progress-box{
  background-color: #2caffe;
}

.progress-complete .progress-text{
  color: black;
}


.nav-button{
  padding: 0.25rem 1rem;
  background-color: #2caffe;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  color: white;
  font-size: 0.8rem;
}

.loader-container{
  width: 100%;
  margin-top: 12rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name:shake;
  }

  @keyframes shake{
    from{
      transform: none;
    }
    20%{
      transform: translate3d(-10%,0,0) rotate3d(0,0,1,-10deg);
    }
    40%{
      transform: translate3d(10%,0,0) rotate3d(0,0,1,5deg);
    }
    50%{
      transform: translate3d(-5%,0,0) rotate3d(0,0,1,5deg);
    }
    60%{
      transform: translate3d(5%,0,0) rotate3d(0,0,1,5deg);
    }

    to{
      transform: none;
    }
  }


@media only screen and (max-width: 425px) {
  /* For mobile phones: */

  .filled-state{
    margin-top: 0rem;
    padding-bottom: 2rem;
  }
  .sticky-top {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.05);
  }
  .payment-card-container {
    align-items: center;
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
    padding-top: 3rem;
  }
  .empty-state h6{
    color: #acacac;
    margin-bottom: 1.5rem;
    line-height: 1rem;
  }

    .payment-card {
    cursor: pointer;
    position: relative;
    height: 14rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #ececec;
  }
    .add-payment-card {
    cursor: pointer;
    position: relative;
    height: 14rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #2caffe;
  }

  .payment-input-panel {
    width: 100%;
  }
  .payment-input{
    width: 100%;
  }

  .payment-details-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .payee-card {
    cursor: pointer;
    position: relative;
    height: 14rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #ececec;
    margin-bottom: 0.25rem;
  }

  .dark-band {
    margin-top: 5%;
    background-color: #dadada;
    width: 100%;
    height: 20%;
    color: black;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-info {
    height: 75%;
    border-radius: 0.5rem;
    padding: 5% 10% 8% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .payee-info{
    margin-top: 1rem;
    height: 100%;
    border-radius: 0.5rem;
    padding: 5% 10% 5% 10%;
  }

  


}


